/* В этом файле будут храниться все значения переменных в исходном состоянии, 
а так же их изменения в зависимости от ширины устройства */
:root {
    --font-main-text: Inter, sans-serif;
    --font-accent: "PressStart2P", fantasy;
    --bg-color: #000;
    --title-bg-color: #000;
    --bg-gradient-start: #007f0c;
    --bg-gradient-end: #004306;
    --weight-text: 465;
    --weight-title: 785;
    --text-color: #00CC14;
    --text-stroke: #000;
    --mix-blend: #00CC14;
    --contour-heart: #00CC14;
    --heart-color: #FF0000;
}



